.homeBox {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-bottom: 70px;
}

.title {
    width: 100%;
    display: inline-block;
    transform: scaleX(0.6);
    font-size: 80px;
    line-height: 60px;
    font-weight: 900;
}

.btnBox {
    margin-top: 30px;
    display: flex;
    gap: 5px;
    justify-content: center;
}

.btn {
    padding: 6px 20px;
    border-radius: 30px;
    border: 1.5px solid transparent;
    justify-content: center;
    align-items: center;
    background: #111;
    color: #fff;
}

.btn:hover {
    background: #757575;
}
