#filter::-webkit-scrollbar-track {
    border-radius: 10px;
}

#filter::-webkit-scrollbar {
    width: 6px;
}

#filter::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #7f7f7f;
}
