th,
td {
    border: 1px solid #dddddd;
    text-align: center;
}
.editBtn {
    background-color: green;
    color: white;
    padding: 3px 10px;
    border-radius: 6px;
    margin: 6px;
}
.deleteBtn {
    background-color: red;
    color: white;
    padding: 3px 10px;
    border-radius: 6px;
    margin: 6px;
}
.error {
    color: red;
}
