.user::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-50%);

    width: 30px;
    height: 20px;
    background-color: transparent;
    display: none;
}

.group:hover .user,
.group:hover .user::before {
    display: block;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}
